@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Cadastro de Clientes</h1>
        <p class="lead">Aplicação para cadastro de clientes e beneficiários - Exercício prático Função Sistemas &copy;</p>
    </section>
</main>